<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ОСАГО</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" href="../css/OSAGO.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">


        <div class="headerInterior">
            <div class="container">
                <div class="wrap">
                    <div class="header__menu">
                        <button class="menu__btn">
                            <span class="hamburger">
                                <span class="top"></span>
                                <span class="middle"></span>
                                <span class="bottom"></span>
                            </span>
                        </button>
                        <nav class="menu__list">
                            <ul>
                                <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-9 current_page_item menu-item-16"><a href="http://www.wp-insurance.plemya-demo.ru/" aria-current="page">Главная</a></li>
                                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17"><a href="#about">О компании</a></li>
                                <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18"><a href="#about_us">Преимущества</a></li>
                                <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://www.wp-insurance.plemya-demo.ru/%d0%b0%d0%b3%d0%b5%d0%bd%d1%82%d1%81%d0%ba%d0%b8%d0%b5-%d1%81%d0%b5%d1%82%d0%b8/">Агентские сети</a></li>
                                <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a href="#footer">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header__logo">
                        <a href="index.html">
                            <img src="../img/logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="social">
                        <a href="javascript:void(0)" class="social_vk">
                            <i class="icon-002-vk"></i>
                        </a>
                        <a href="javascript:void(0)" class="social_F">
                            <i class="icon-001-logo"></i>
                        </a>
                        <a href="javascript:void(0)" class="social_instagram">
                            <i class="icon-instagram"></i>
                        </a>
                    </div>
                    <ul class="menu_polis">
                        <li class="active">
                            <a href="#">
                                Полисы
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Статистика
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Помощь
                            </a>
                        </li>
                    </ul>
                    <div class="head__btn">
                        <a href="javascript:void(0)">
                            <i class="icon-user"></i>
                        </a>
                    </div>
                    <div class="user">
                        <div class="user_item">
                            <p>Иван <br>Иванов</p>
                            <i class="icon-user-male-black-shape"></i>
                        </div>

                    </div>
                    <div class="sub-text">
                        <div class="content">
                            <a href="#">Учетная запись</a>
                            <a href="payment.html">Платежная информация</a>
                            <a href="#">Выход</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="overlay-signIn overlayPopup">
            <div class="close"></div>
            <div class="signIn__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Вход для зарегистрированных
                        пользователей
                    </h3>
                    <form>
                        <div class="form-input">
                            <label for="">
                                Электронная почта
                            </label>
                            <input type="email" placeholder="12er@mail.ru">
                        </div>
                        <div class="form-input">
                            <label for="">
                                Пароль
                            </label>
                            <input type="password" placeholder="Введите пароль">
                        </div>
                        <div class="forgot-pass">
                            <a href="javascript:void(0)" class="closeBtn open-password">Забыл пароль?</a>
                        </div>
                        <div class="remember-me">
                            <label class="wrap">
                                <input type="checkbox">
                                <span class="checkmark">Запомнить меня</span>
                            </label>
                        </div>

                        <div class="form-button">
                            <button>Войти</button>
                            <div class="invalid_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <span>или</span>
                            <a href="javascript:void(0)" class="closeBtn open-checkIn">Зарегистрироваться</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="overlay-checkIn overlayPopup">
            <div class="close"></div>
            <div class="checkIn__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>Регистрация нового пользователя</h3>
                    <form>
                        <div class="flex-wrap">
                            <div class="form-input">
                                <label for="nameId">Фамилия</label>
                                <input type="text" id="nameId" placeholder="Ваша фамилия">
                            </div>
                            <div class="form-input">
                                <label for="surnameId">Имя</label>
                                <input type="text" id="surnameId" placeholder="Ваше имя">
                            </div>
                            <div class="form-input">
                                <label for="emailId">Электронная почта</label>
                                <input type="email" id="emailId" placeholder="12er@mail.ru">
                            </div>
                            <div class="form-input">
                                <label for="phone">Мобильный телефон</label>
                                <input type="tel" id="phone" placeholder="+7 (___) ___ __ __">
                            </div>
                            <div class="form-input">
                                <label for="passwordId">Пароль</label>
                                <input type="password" id="passwordId" placeholder="Введите пароль">
                            </div>
                            <div class="form-input">
                                <label for="newPasswordId">Повторить пароль</label>
                                <input type="password" id="newPasswordId" placeholder="Пароль еще раз">
                            </div>
                            <div class="form-input">
                                <label for="phone2">Телефон пригласившего вас в EPS 24</label>
                                <input type="tel" id="phone2" placeholder="+7 (___) ___ __ __">
                            </div>
                            <span class="form-ps">
                                Оставьте поле пустым,
                                если нашли нас по рекламе
                            </span>
                        </div>
                        <div class="form-security">
                            <span>
                                Нажимая на кнопку "Зарегистрироваться",
                                я соглашаюсь с <a href="">договором оферты</a> и
                                <a href="">правилами использования сервиса EPS 24</a>
                            </span>
                        </div>

                        <div class="form-button">
                            <button>Заригистрироваться</button>

                        </div>
                        <div class="form-bottom">
                            <span>или</span>
                            <a href="javascript:void(0)" class="closeBtn open-signIn">Войти</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Открывается если форма заполнена некорректно-->
        <div class="error_popup">
            <div class="block_popup">
                <span class="close_popup"></span>
                <div class="content_popup">
                    <p>
                        Уважаемый (-ая) Андрей Мальков, просим вас корректно заполнить платёжную информацию
                        (это нужно, чтобы вовремя получить вознаграждение). Это очень важно!
                    </p>
                    <div class="bottom_popup">
                        <a href="#" class="active">Заполнить информацию</a>
                        <a href="#">Мне не нужны деньги</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Открывается если форма заполнена корректно-->

        <!--Открывается если форму не заполнили-->
        <div class="reminder">
            <span class="close_popup"></span>
            <p class="content_reminder">
                Для отображения данных таблицы заполните поля выше
                (вид страхования, страховая компания и т.д.)
            </p>
        </div>



        <!--Регистрация успешна, для завершения активируйте вашу учётную запись по ссылке на почте-->
        <div class="overlay-link overlayPopup">
            <div class="close"></div>
            <div class="link__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Регистрация успешна, для завершения активируйте вашу учётную запись по ссылке на почте
                    </h3>
                </div>
            </div>
        </div>
        <!--Форма авторизации-->
        <div class="overlay-authorization overlayPopup">
            <div class="close"></div>
            <div class="authorization__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Регистрация успешна, пожалуйста авторизуйтесь
                    </h3>
                    <form>
                        <div class="form-input">
                            <label for="">
                                Электронная почта
                            </label>
                            <input type="email" placeholder="12er@mail.ru">
                        </div>
                        <div class="form-input">
                            <label for="">
                                Пароль
                            </label>
                            <input type="password" placeholder="Введите пароль">
                        </div>
                        <div class="forgot-pass">
                            <a href="javascript:void(0)">Забыл пароль?</a>
                        </div>
                        <div class="remember-me">
                            <label class="wrap">
                                <input type="checkbox">
                                <span class="checkmark">Запомнить меня</span>
                            </label>
                        </div>

                        <div class="form-button">
                            <button>Войти</button>
                            <div class="invalid_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>



        <div class="overlay-signIn2 overlayPopup">
            <div class="close"></div>
            <div class="signIn__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Вход для зарегистрированных
                        пользователей
                    </h3>
                    <form>
                        <div class="form-input">
                            <label for="">
                                Электронная почта
                            </label>
                            <input type="email" placeholder="12er@mail.ru">
                        </div>
                        <div class="form-input">
                            <label for="">
                                Пароль
                            </label>
                            <input type="password" placeholder="Введите пароль">
                        </div>
                        <div class="forgot-pass">
                            <a href="javascript:void(0)">Забыл пароль?</a>
                        </div>
                        <div class="remember-me">
                            <label class="wrap">
                                <input type="checkbox">
                                <span class="checkmark">Запомнить меня</span>
                            </label>
                        </div>

                        <div class="form-button">
                            <button>Войти</button>
                            <div class="invalid_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <span>или</span>
                            <a href="javascript:void(0)" class="closeBtn open-checkIn2">Зарегистрироваться</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="overlay-checkIn2 overlayPopup">
            <div class="close"></div>
            <div class="checkIn__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>Регистрация нового пользователя</h3>
                    <form>
                        <div class="flex-wrap">
                            <div class="form-input">
                                <label for="nameId">Фамилия</label>
                                <input type="text" id="nameId" placeholder="Ваша фамилия">
                            </div>
                            <div class="form-input">
                                <label for="surnameId">Имя</label>
                                <input type="text" id="surnameId" placeholder="Ваше имя">
                            </div>
                            <div class="form-input">
                                <label for="emailId">Электронная почта</label>
                                <input type="email" id="emailId" placeholder="12er@mail.ru">
                            </div>
                            <div class="form-input">
                                <label for="phone">Мобильный телефон</label>
                                <input type="tel" id="phone" placeholder="+7 (___) ___ __ __">
                            </div>
                            <div class="form-input">
                                <label for="passwordId">Пароль</label>
                                <input type="password" id="passwordId" placeholder="Введите пароль">
                            </div>
                            <div class="form-input">
                                <label for="newPasswordId">Повторить пароль</label>
                                <input type="password" id="newPasswordId" placeholder="Пароль еще раз">
                            </div>
                            <div class="form-input">
                                <label for="phone2">Телефон пригласившего вас в EPS 24</label>
                                <input type="tel" id="phone2" placeholder="+7 (___) ___ __ __">
                            </div>
                            <span class="form-ps">
                                Оставьте поле пустым,
                                если нашли нас по рекламе
                            </span>
                        </div>
                        <div class="form-security">
                            <span>
                                Нажимая на кнопку "Зарегистрироваться",
                                я соглашаюсь с <a href="">договором оферты</a> и
                                <a href="">правилами использования сервиса EPS 24</a>
                            </span>
                        </div>

                        <div class="form-button">
                            <button>Заригистрироваться</button>
                            <div class="invalid_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="replay_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <span>или</span>
                            <a href="javascript:void(0)" class="closeBtn open-signIn2">Войти</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!--Форма восстановления пароля-->
        <div class="password-signIn overlayPopup">
            <div class="close"></div>
            <div class="password__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Введите ваш e-mail для отправки нового пароля
                    </h3>
                    <form>
                        <div class="form-input">
                            <label for="">
                                Электронная почта
                            </label>
                            <input type="email" placeholder="12er@mail.ru">
                        </div>
                        <div class="form-button">
                            <button>Отправить новый пароль</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>


        <div class="overlay-link2 overlayPopup">
            <div class="close"></div>
            <div class="link__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Новый пароль отправлен
                    </h3>
                </div>
            </div>
        </div>


        <section class="polis">
            <div class="container">
                <div class="top_nav">
                    <span class="close_polis "></span>
                    <h2>Оформить новый полис:</h2>
                    <ul class="nav_menu">
                        <li><a href="AgentNetwork.html">Агентская сеть</a></li>
                        <li>Мое КВ</li>
                        <li class="user_info">Мой куратор</li>
                    </ul>
                    <div class="sub-text">
                        <ul class="content">
                            <li>Иванов Иван</li>
                            <li><a href="tel:+7(495)761-33-22">+7(495)761-33-22</a></li>
                            <li><a href="mailto:info@eps24.ru">info@eps24.ru</a></li>
                        </ul>

                    </div>
                </div>
                <div class="polis_slider">
                    <div>
                        <div class="polis__item" style="background-image:url(../img/slider_polis/polis_1.png)">
                            <a href="OSAGO.html">
                                <div class="polis_block">
                                    <p>Осаго</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="polis__item" style="background-image:url(../img/slider_polis/polis_2.png)">
                            <a href="mortgage.html">
                                <div class="polis_block">
                                    <p>Ипотечное страхование</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="polis__item" style="background-image:url(../img/slider_polis/polis_3.png)">
                            <a href="travels.html">
                                <div class="polis_block">
                                    <p>Страхование путешествий</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="polis__item" style="background-image:url(../img/slider_polis/polis_4.png)">
                            <a href="lifeInsurance.html">
                                <div class="polis_block">
                                    <p>Жизнь и здоровье</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="polis__item" style="background-image:url(../img/slider_polis/polis_5.png)">
                            <a href="building.html">
                                <div class="polis_block">
                                    <p>Недвижимость </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="polis__item" style="background-image:url(../img/slider_polis/polis_6.png)">
                            <a href="DMS.html">
                                <div class="polis_block">
                                    <p>ДМС</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="polis__item" style="background-image:url(../img/slider_polis/polis_7.png)">
                            <a href="Kasko.html">
                                <div class="polis_block">
                                    <p>каско</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p>
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                    создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный
                    дизайн.
                </p>
            </div>
        </section>



        <!-- osago_form -->
        <section class="osago">
            <div class="container">
                <div class="form_step">
                    <div class="desktop_progressbar">
                        <div class="item">
                            <i class="icon-001-car-insurance"></i>
                            <p>Автомобиль</p>
                        </div>
                        <div class="item">
                            <i class="icon-002-steering-wheel"></i>
                            <p>Водители</p>
                        </div>
                        <div class="item">
                            <i class="icon-003-employee"></i>
                            <p>Страхователь</p>
                        </div>
                        <div class="item">
                            <i class="icon-004-man"></i>
                            <p>Собственник</p>
                        </div>
                    </div>
                    <div class="step step_1 active">
                        <div class="mobail_progressbar">
                            <i class="icon-001-car-insurance"></i>
                            <p>Автомобиль</p>
                        </div>
                        <form>
                            <h3>Автомобиль</h3>
                            <div class="wrap_group">
                                <div class="form_wrap">
                                    <div class="form_select">
                                        <label>Марка</label>
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                            <option>Выберите марку</option>
                                            <option>Выберите марку</option>
                                        </select>
                                    </div>
                                    <div class="form_select">
                                        <label>Модель</label>
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                            <option>Выберите модель</option>
                                            <option>Выберите модель</option>
                                        </select>
                                    </div>
                                    <div class="form_select">
                                        <label>Год выпуска</label>
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                            <option>2017</option>
                                            <option>2017</option>
                                        </select>
                                    </div>
                                    <div class="form_select">
                                        <label>Мощность, л.с.</label>
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                            <option>100</option>
                                            <option>100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form_wrap">
                                    <div class="form_input">
                                        <label>Идентификатор ТС</label>
                                        <div class="form_radio">
                                            <input type="radio" name="tabs">
                                            <label>VIN номер</label>
                                        </div>
                                        <div class="form_radio">
                                            <input type="radio" name="tabs">
                                            <label>Номер кузова</label>
                                        </div>
                                        <div class="form_radio">
                                            <input type="radio" name="tabs">
                                            <label>Номер шасси</label>
                                        </div>
                                        <input type="text" placeholder="DGRETY4674UJFY365H">
                                    </div>
                                    <div class="form_input">
                                        <label>Документ на автомобиль</label>
                                        <div class="form_radio">
                                            <input type="radio" name="tabs">
                                            <label>СТС</label>
                                        </div>
                                        <div class="form_radio">
                                            <input type="radio" name="tabs">
                                            <label>ПТС</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_wrap">
                                <div class="form_input">
                                    <label>Серия</label>
                                    <input type="text" placeholder="ХХХХ">
                                </div>
                                <div class="form_input">
                                    <label>Дата выдачи документа</label>
                                    <input type="text" class="datepicker hasDatepicker" placeholder="01.12.1986" id="dp1566308853337">
                                    <i class="icon-calendar"></i>
                                </div>
                                <div class="form_input">
                                    <label>Номер</label>
                                    <input type="text" placeholder="123456">
                                </div>
                                <div class="form_input">
                                    <label>Гос. номер авто</label>
                                    <input type="text" placeholder="А000АА">
                                </div>
                                <div class="form_input">
                                    <label>Регион</label>
                                    <input type="text" placeholder="7777">
                                </div>
                                <div class="form_radio">
                                    <input type="radio" name="radio_1">
                                    <label>Гос. номер отсутствует</label>
                                </div>
                                <h4>Дополнительные сведения</h4>
                                <div class="form_radio">
                                    <input type="radio" name="radio_2">
                                    <label>Используется с прицепом</label>
                                </div>
                            </div>
                            <h3>Диагностическая карта(Техосмотр)</h3>
                            <div class="form_wrap">
                                <div class="form_input">
                                    <label>Номер ДК</label>
                                    <input type="text" placeholder="Укажите номер">
                                </div>
                                <div class="form_input">
                                    <label>Срок действия до</label>
                                    <input type="text" class="datepicker hasDatepicker" placeholder="01.12.1986" id="dp1566308853337">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="form-buttons">
                                <a class="next-step" href="jabascript:void(0)">Продолжить</a>
                            </div>
                        </form>
                    </div>
                    <div class="step step_2">
                        <div class="mobail_progressbar">
                            <i class="icon-002-steering-wheel"></i>
                            <p>Водитель</p>
                        </div>
                        <form>
                            <h3>Водители</h3>
                            <div class="form_wrap">
                                <div class="form_radio">
                                    <input type="radio" name="tabs" checked>
                                    <label>1 и более</label>
                                </div>
                                <div class="form_radio">
                                    <input type="radio" name="tabs" checked>
                                    <label>Неограниченное количество</label>
                                </div>
                            </div>
                            <div class="form_wrap">
                                <div class="form_input">
                                    <label for="surname">Фамилия</label>
                                    <input type="text" id="surname" placeholder="Иванов">
                                </div>
                                <div class="form_input">
                                    <label>Имя</label>
                                    <input type="text" placeholder="Иван">
                                </div>
                                <div class="form_input">
                                    <label>Отчество</label>
                                    <input type="text" placeholder="Иванович">
                                </div>
                                <div class="form_input">
                                    <label>Дата рождения</label>
                                    <input type="text" class="datepicker hasDatepicker" placeholder="01.12.1986" id="dp1566308853337">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <h3>Водительское удостоверение</h3>
                            <div class="form_wrap">
                                <div class="form_input">
                                    <label>Серия</label>
                                    <input type="text" placeholder="ХХХХ">
                                </div>
                                <div class="form_input">
                                    <label>Номер ВУ</label>
                                    <input type="text" placeholder="123456">
                                </div>
                                <div class="form_input">
                                    <label>Дата выдачи первого ВУ</label>
                                    <input type="text" class="datepicker hasDatepicker" placeholder="01.12.1986" id="dp1566308853337">
                                    <i class="icon-calendar"></i>
                                </div>
                                <div class="clone_buttons">
                                    <a class="clone" href="jabascript:void(0)">Добавить 2-го водителя</a>
                                </div>
                            </div>

                            <div class="form-buttons">
                                <a class="next-step" href="jabascript:void(0)">Продолжить</a>
                                <a class="prev-step" href="jabascript:void(0)">Назад к авто</a>
                            </div>
                        </form>
                    </div>
                    <div class="step step_3">
                        <div class="mobail_progressbar">
                            <i class="icon-003-employee"></i>
                            <p>Страхователь</p>
                        </div>
                        <form>
                            <h3>Страхователь авто</h3>
                            <div class="form_wrap">
                                <div class="form_radio">
                                    <input type="radio" name="tabs" checked>
                                    <label>Иванов И. И.</label>
                                </div>
                                <div class="form_radio">
                                    <input type="radio" name="tabs" checked>
                                    <label>Другой</label>
                                </div>
                            </div>
                            <div class="form_wrap">
                                <div class="form_input">
                                    <label for="surname">Фамилия</label>
                                    <input type="text" id="surname" placeholder="Иванов">
                                </div>
                                <div class="form_input">
                                    <label>Имя</label>
                                    <input type="text" placeholder="Иван">
                                </div>
                                <div class="form_input">
                                    <label>Отчество</label>
                                    <input type="text" placeholder="Иванович">
                                </div>
                                <div class="form_input">
                                    <label>Дата рождения</label>
                                    <input type="text" class="datepicker" placeholder="01.12.1986">
                                    <i class="icon-calendar"></i>
                                </div>
                                <div class="form_input">
                                    <label>Серия паспорта</label>
                                    <input type="text">
                                </div>
                                <div class="form_input">
                                    <label>Номер паспорта</label>
                                    <input type="text">
                                </div>
                                <div class="form_input">
                                    <label>Дата выдачи</label>
                                    <input type="text" class="datepicker" placeholder="01.12.1986">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <h3>Адрес регистрации</h3>
                            <div class="form_wrap">
                                <div class="form_select">
                                    <label>Регион</label>
                                    <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                        <option>Выберете регион</option>
                                        <option>Выберете регион</option>
                                    </select>
                                </div>
                                <div class="form_select">
                                    <label>Населенный пункт</label>
                                    <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                        <option>Выберете насел. пункт</option>
                                        <option>Выберете насел. пункт</option>
                                    </select>
                                </div>
                                <div class="form_select street">
                                    <label>Улица</label>
                                    <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                        <option>Выберете улицу</option>
                                        <option>Выберете улицу</option>
                                    </select>
                                    <div class="form_radio">
                                        <input type="radio" name="tabs" checked>
                                        <label>Улица отсутсвует</label>
                                    </div>
                                </div>
                                <div class="form_input house">
                                    <label>Дом</label>
                                    <input type="text">
                                </div>
                                <div class="form_input body">
                                    <label>Корпус/строение</label>
                                    <input type="text">
                                </div>
                                <div class="form_input apartment">
                                    <label>Квартира</label>
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="form-buttons">
                                <a class="next-step" href="jabascript:void(0)">Продолжить</a>
                                <a class="prev-step" href="jabascript:void(0)">Назад к водителям</a>
                            </div>
                        </form>
                    </div>
                    <div class="step step_4">
                        <div class="mobail_progressbar">
                            <i class="icon-004-man"></i>
                            <p>Собственник</p>
                        </div>
                        <form>
                            <h3>Собственник авто</h3>
                            <div class="form_wrap">
                                <div class="form_radio">
                                    <input type="radio" name="tabs" checked>
                                    <label>Собственник и страхователь совпадают</label>
                                </div>
                                <div class="form_radio">
                                    <input type="radio" name="tabs" checked>
                                    <label>Другой</label>
                                </div>
                            </div>
                            <div class="form_wrap">
                                <h5>Иванов Иван Иванович</h5>
                                <div class="info">
                                    <div class="polis_info">
                                        <p>Паспорт:</p>
                                        <ul>
                                            <li>Дата рождения: 28.12.1988, </li>
                                            <li>Серия и номер паспорта: 2342 645645, </li>
                                            <li>Выдан: 05.02.2014</li>
                                        </ul>
                                    </div>
                                    <div class="polis_info">
                                        <p>Адрес:</p>
                                        <ul>
                                            <li>Московская обл,</li>
                                            <li>55 км автодороги Москва-Дубна тер,</li>
                                            <li>д. 34, корп. 2, кв. 34</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3>Сведения о полисе</h3>
                            <div class="form_wrap">
                                <div class="form_select">
                                    <label>Срок действия полиса</label>
                                    <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                        <option>12 мес</option>
                                        <option>12 мес</option>
                                    </select>
                                </div>
                                <div class="form_input">
                                    <div class="input_box">
                                        <label>Дата начала действия полиса</label>
                                        <input type="text" class="datepicker hasDatepicker" placeholder="01.12.1986" id="dp1566308853337">
                                        <i class="icon-calendar"></i>
                                    </div>
                                    <span>Если полис необходим сегодня, поменяйте дату. Но обращайте внимание, что в таком случае список страховых сильно ограничен.</span>
                                </div>
                                <div class="form_input">
                                    <label>Номер телефона</label>
                                    <input class="phone" type="text" placeholder="+7 900 --- -- --">
                                    <p>Согласно указанию ЦБ РФ № 4723-У, для оформления е-ОСАГО используется номер телефона клиента.</p>
                                </div>
                                <div class="form_radio">
                                    <input type="radio" name="tabs" checked>
                                    <label>Оформить страховку от несчастного случая</label>
                                </div>
                            </div>
                            <div class="form-buttons">
                                <a class="check" href="jabascript:void(0)">Проверить правильность введенных данных</a>
                                <a class="next-step" href="jabascript:void(0)">Офрмить</a>
                                <a class="prev-step" href="jabascript:void(0)">Назад к параметрам</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- End osago_form -->


        <footer id="footer">
            <div class="bg_gray">
                <div class="container">
                    <div class="footer_flex">
                        <div class="footer_logo">
                            <a href="index.html">
                                <img src="../img/logo.png" alt="Logo">
                            </a>
                            <p>
                                Онлайн платформа для страховых агентов с прямым подключением к страховым компаниям России
                            </p>
                        </div>
                        <ul class="footer-menu">
                            <li class="menu_item">Меню
                                <ul class="sub_menu">
                                    <li>
                                        <a href="registration.html">
                                            Регистрация
                                        </a>
                                    </li>
                                    <li>
                                        <a href="AgentNetwork.html">
                                            Агентские сети
                                        </a>
                                    </li>
                                    <li>
                                        <a href="news.html">
                                            Новости
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            Личный кабинет
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu_item">
                                Платформа
                                <ul class="sub_menu">
                                    <li>
                                        <a href="registration.html">
                                            Вход
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            Регистрация
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#question">
                                            FAQ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu_item">
                                Новости


                                <div class="sub_news">
                                    <a href="news.html">
                                        <p>
                                            Повышение КВ по полюсам
                                            "Альфа Страхование"
                                        </p>
                                    </a>
                                    <span>15 Мар 2019</span>
                                </div>
                                <div class="sub_news">
                                    <a href="news.html">
                                        <p>
                                            Повышение КВ по полюсам
                                            "Альфа Страхование"
                                        </p>
                                    </a>

                                    <span>15 Мар 2019</span>
                                </div>
                            </li>
                            <li class="menu_item">
                                Контакты
                                <ul class="sub_menu">
                                    <li>EPS24</li>
                                    <li>Шлюзная набережная</li>
                                    <li>г.Москва</li>
                                </ul>
                                <ul class="sub_menu">
                                    <li><a href="tel:+7(495)761-33-22">+7(495)761-33-22</a></li>
                                    <li><a href="mailto:info@eps24.ru">info@eps24.ru</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="footer_mobail_menu">
                            <div class="btn">
                                <a rel='b1' class="btn b1" href="javascript:void(0)">Меню</a>
                                <a rel='b2' class="btn b2" href="javascript:void(0)">Платформа</a>
                                <a rel='b3' class="btn b3" href="javascript:void(0)">Новости</a>
                                <a rel='b4' class="btn b4" href="javascript:void(0)">Контакты</a>
                            </div>
                            <div class="dropdown-menu b1">
                                <ul class="sub_menu">
                                    <li>
                                        <a href="index.html">
                                            О компании
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Преимущества
                                        </a>
                                    </li>
                                    <li>
                                        <a href="AgentNetwork.html">
                                            Агентские сети
                                        </a>
                                    </li>
                                    <li>
                                        <a href="news.html">
                                            Новости
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            Личный кабинет
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-menu b2">
                                <ul class="sub_menu">
                                    <li>
                                        <a href="registration.html">
                                            Вход
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            Регистрация
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            FAQ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-menu b3">
                                <div class="sub_news">
                                    <p>
                                        Повышение КВ по полюсам
                                        "Альфа Страхование"
                                    </p>
                                    <span>15 Мар 2019</span>
                                </div>
                                <div class="sub_news">
                                    <p>
                                        Повышение КВ по полюсам
                                        "Альфа Страхование"
                                    </p>
                                    <span>15 Мар 2019</span>
                                </div>
                            </div>
                            <div class="dropdown-menu b4">
                                <ul class="sub_menu">
                                    <li>EPS24 Шлюзная набережная г.Москва</li>
                                    <li><a href="tel:+7(495)761-33-22">+7(495)761-33-22</a></li>
                                    <li><a href="mailto:info@eps24.ru">info@eps24.ru</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg_black">
                <div class="container">
                    <div class="social">
                        <a href="javascript:void(0)" class="social_vk">
                            <i class="icon-002-vk"></i>
                        </a>
                        <a href="javascript:void(0)" class="social_F">
                            <i class="icon-001-logo"></i>
                        </a>
                        <a href="javascript:void(0)" class="social_instagram">
                            <i class="icon-instagram"></i>
                        </a>
                    </div>
                    <p>Все права защищены EPS24-Единая Платформа Страхования 2018 - 2019 г. </p>

                </div>
                <div class="container">
                    <a href="https://plemyastudio.ru/">Сайт разработан PlemyArt</a>
                </div>
            </div>
        </footer>



    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.radio.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.responsiveTabs.min.js"></script>
    <script src="../js/script.min.js"></script>

</body>

</html>