<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Правила</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" href="../css/regulations.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">



        <div class="headerInterior">
            <div class="container">
                <div class="wrap">
                    <div class="header__menu">
                        <button class="menu__btn">
                            <span class="hamburger">
                                <span class="top"></span>
                                <span class="middle"></span>
                                <span class="bottom"></span>
                            </span>
                        </button>
                        <nav class="menu__list">
                            <ul>
                                <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-9 current_page_item menu-item-16"><a href="http://www.wp-insurance.plemya-demo.ru/" aria-current="page">Главная</a></li>
                                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17"><a href="#about">О компании</a></li>
                                <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18"><a href="#about_us">Преимущества</a></li>
                                <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://www.wp-insurance.plemya-demo.ru/%d0%b0%d0%b3%d0%b5%d0%bd%d1%82%d1%81%d0%ba%d0%b8%d0%b5-%d1%81%d0%b5%d1%82%d0%b8/">Агентские сети</a></li>
                                <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a href="#footer">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header__logo">
                        <a href="index.html">
                            <img src="../img/logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="social">
                        <a href="javascript:void(0)" class="social_vk">
                            <i class="icon-002-vk"></i>
                        </a>
                        <a href="javascript:void(0)" class="social_F">
                            <i class="icon-001-logo"></i>
                        </a>
                        <a href="javascript:void(0)" class="social_instagram">
                            <i class="icon-instagram"></i>
                        </a>
                    </div>
                    <ul class="menu_polis">
                        <li class="active">
                            <a href="#">
                                Полисы
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Статистика
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Помощь
                            </a>
                        </li>
                    </ul>
                    <div class="head__btn">
                        <a href="javascript:void(0)">
                            <i class="icon-user"></i>
                        </a>
                    </div>
                    <div class="user">
                        <div class="user_item">
                            <p>Иван <br>Иванов</p>
                            <i class="icon-user-male-black-shape"></i>
                        </div>

                    </div>
                    <div class="sub-text">
                        <div class="content">
                            <a href="#">Учетная запись</a>
                            <a href="payment.html">Платежная информация</a>
                            <a href="#">Выход</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="overlay-signIn overlayPopup">
            <div class="close"></div>
            <div class="signIn__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Вход для зарегистрированных
                        пользователей
                    </h3>
                    <form>
                        <div class="form-input">
                            <label for="">
                                Электронная почта
                            </label>
                            <input type="email" placeholder="12er@mail.ru">
                        </div>
                        <div class="form-input">
                            <label for="">
                                Пароль
                            </label>
                            <input type="password" placeholder="Введите пароль">
                        </div>
                        <div class="forgot-pass">
                            <a href="javascript:void(0)" class="closeBtn open-password">Забыл пароль?</a>
                        </div>
                        <div class="remember-me">
                            <label class="wrap">
                                <input type="checkbox">
                                <span class="checkmark">Запомнить меня</span>
                            </label>
                        </div>

                        <div class="form-button">
                            <button>Войти</button>
                            <div class="invalid_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <span>или</span>
                            <a href="javascript:void(0)" class="closeBtn open-checkIn">Зарегистрироваться</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="overlay-checkIn overlayPopup">
            <div class="close"></div>
            <div class="checkIn__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>Регистрация нового пользователя</h3>
                    <form>
                        <div class="flex-wrap">
                            <div class="form-input">
                                <label for="nameId">Фамилия</label>
                                <input type="text" id="nameId" placeholder="Ваша фамилия">
                            </div>
                            <div class="form-input">
                                <label for="surnameId">Имя</label>
                                <input type="text" id="surnameId" placeholder="Ваше имя">
                            </div>
                            <div class="form-input">
                                <label for="emailId">Электронная почта</label>
                                <input type="email" id="emailId" placeholder="12er@mail.ru">
                            </div>
                            <div class="form-input">
                                <label for="phone">Мобильный телефон</label>
                                <input type="tel" id="phone" placeholder="+7 (___) ___ __ __">
                            </div>
                            <div class="form-input">
                                <label for="passwordId">Пароль</label>
                                <input type="password" id="passwordId" placeholder="Введите пароль">
                            </div>
                            <div class="form-input">
                                <label for="newPasswordId">Повторить пароль</label>
                                <input type="password" id="newPasswordId" placeholder="Пароль еще раз">
                            </div>
                            <div class="form-input">
                                <label for="phone2">Телефон пригласившего вас в EPS 24</label>
                                <input type="tel" id="phone2" placeholder="+7 (___) ___ __ __">
                            </div>
                            <span class="form-ps">
                                Оставьте поле пустым,
                                если нашли нас по рекламе
                            </span>
                        </div>
                        <div class="form-security">
                            <span>
                                Нажимая на кнопку "Зарегистрироваться",
                                я соглашаюсь с <a href="">договором оферты</a> и
                                <a href="">правилами использования сервиса EPS 24</a>
                            </span>
                        </div>

                        <div class="form-button">
                            <button>Заригистрироваться</button>

                        </div>
                        <div class="form-bottom">
                            <span>или</span>
                            <a href="javascript:void(0)" class="closeBtn open-signIn">Войти</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Открывается если форма заполнена некорректно-->
        <div class="error_popup">
            <div class="block_popup">
                <span class="close_popup"></span>
                <div class="content_popup">
                    <p>
                        Уважаемый (-ая) Андрей Мальков, просим вас корректно заполнить платёжную информацию
                        (это нужно, чтобы вовремя получить вознаграждение). Это очень важно!
                    </p>
                    <div class="bottom_popup">
                        <a href="#" class="active">Заполнить информацию</a>
                        <a href="#">Мне не нужны деньги</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Открывается если форма заполнена корректно-->

        <!--Открывается если форму не заполнили-->
        <div class="reminder">
            <span class="close_popup"></span>
            <p class="content_reminder">
                Для отображения данных таблицы заполните поля выше
                (вид страхования, страховая компания и т.д.)
            </p>
        </div>



        <!--Регистрация успешна, для завершения активируйте вашу учётную запись по ссылке на почте-->
        <div class="overlay-link overlayPopup">
            <div class="close"></div>
            <div class="link__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Регистрация успешна, для завершения активируйте вашу учётную запись по ссылке на почте
                    </h3>
                </div>
            </div>
        </div>
        <!--Форма авторизации-->
        <div class="overlay-authorization overlayPopup">
            <div class="close"></div>
            <div class="authorization__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Регистрация успешна, пожалуйста авторизуйтесь
                    </h3>
                    <form>
                        <div class="form-input">
                            <label for="">
                                Электронная почта
                            </label>
                            <input type="email" placeholder="12er@mail.ru">
                        </div>
                        <div class="form-input">
                            <label for="">
                                Пароль
                            </label>
                            <input type="password" placeholder="Введите пароль">
                        </div>
                        <div class="forgot-pass">
                            <a href="javascript:void(0)">Забыл пароль?</a>
                        </div>
                        <div class="remember-me">
                            <label class="wrap">
                                <input type="checkbox">
                                <span class="checkmark">Запомнить меня</span>
                            </label>
                        </div>

                        <div class="form-button">
                            <button>Войти</button>
                            <div class="invalid_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>



        <div class="overlay-signIn2 overlayPopup">
            <div class="close"></div>
            <div class="signIn__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Вход для зарегистрированных
                        пользователей
                    </h3>
                    <form>
                        <div class="form-input">
                            <label for="">
                                Электронная почта
                            </label>
                            <input type="email" placeholder="12er@mail.ru">
                        </div>
                        <div class="form-input">
                            <label for="">
                                Пароль
                            </label>
                            <input type="password" placeholder="Введите пароль">
                        </div>
                        <div class="forgot-pass">
                            <a href="javascript:void(0)">Забыл пароль?</a>
                        </div>
                        <div class="remember-me">
                            <label class="wrap">
                                <input type="checkbox">
                                <span class="checkmark">Запомнить меня</span>
                            </label>
                        </div>

                        <div class="form-button">
                            <button>Войти</button>
                            <div class="invalid_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <span>или</span>
                            <a href="javascript:void(0)" class="closeBtn open-checkIn2">Зарегистрироваться</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="overlay-checkIn2 overlayPopup">
            <div class="close"></div>
            <div class="checkIn__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>Регистрация нового пользователя</h3>
                    <form>
                        <div class="flex-wrap">
                            <div class="form-input">
                                <label for="nameId">Фамилия</label>
                                <input type="text" id="nameId" placeholder="Ваша фамилия">
                            </div>
                            <div class="form-input">
                                <label for="surnameId">Имя</label>
                                <input type="text" id="surnameId" placeholder="Ваше имя">
                            </div>
                            <div class="form-input">
                                <label for="emailId">Электронная почта</label>
                                <input type="email" id="emailId" placeholder="12er@mail.ru">
                            </div>
                            <div class="form-input">
                                <label for="phone">Мобильный телефон</label>
                                <input type="tel" id="phone" placeholder="+7 (___) ___ __ __">
                            </div>
                            <div class="form-input">
                                <label for="passwordId">Пароль</label>
                                <input type="password" id="passwordId" placeholder="Введите пароль">
                            </div>
                            <div class="form-input">
                                <label for="newPasswordId">Повторить пароль</label>
                                <input type="password" id="newPasswordId" placeholder="Пароль еще раз">
                            </div>
                            <div class="form-input">
                                <label for="phone2">Телефон пригласившего вас в EPS 24</label>
                                <input type="tel" id="phone2" placeholder="+7 (___) ___ __ __">
                            </div>
                            <span class="form-ps">
                                Оставьте поле пустым,
                                если нашли нас по рекламе
                            </span>
                        </div>
                        <div class="form-security">
                            <span>
                                Нажимая на кнопку "Зарегистрироваться",
                                я соглашаюсь с <a href="">договором оферты</a> и
                                <a href="">правилами использования сервиса EPS 24</a>
                            </span>
                        </div>

                        <div class="form-button">
                            <button>Заригистрироваться</button>
                            <div class="invalid_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="replay_popup">
                                <div class="block_popup">
                                    <span class="close_popup"></span>
                                    <div class="content_popup">
                                        <p>
                                            Просим вас корректно заполнить информацию!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <span>или</span>
                            <a href="javascript:void(0)" class="closeBtn open-signIn2">Войти</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!--Форма восстановления пароля-->
        <div class="password-signIn overlayPopup">
            <div class="close"></div>
            <div class="password__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Введите ваш e-mail для отправки нового пароля
                    </h3>
                    <form>
                        <div class="form-input">
                            <label for="">
                                Электронная почта
                            </label>
                            <input type="email" placeholder="12er@mail.ru">
                        </div>
                        <div class="form-button">
                            <button>Отправить новый пароль</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>


        <div class="overlay-link2 overlayPopup">
            <div class="close"></div>
            <div class="link__popup">
                <span class="close-popup closeBtn"></span>
                <div class="content">
                    <h3>
                        Новый пароль отправлен
                    </h3>
                </div>
            </div>
        </div>


        <section class="regulations">
            <div class="container">
                <h2>Правила ресурса</h2>
                <div class="about">
                    <h3>1. Lorem ipsum</h3>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                </div>
                <div class="about">
                    <h3>2. Lorem ipsum</h3>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
                        "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                        коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
                        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
                        в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                        в шаблонах которых используется Lorem Ipsum.
                    </p>
                </div>

            </div>
        </section>

        <footer id="footer">
            <div class="bg_gray">
                <div class="container">
                    <div class="footer_flex">
                        <div class="footer_logo">
                            <a href="index.html">
                                <img src="../img/logo.png" alt="Logo">
                            </a>
                            <p>
                                Онлайн платформа для страховых агентов с прямым подключением к страховым компаниям России
                            </p>
                        </div>
                        <ul class="footer-menu">
                            <li class="menu_item">Меню
                                <ul class="sub_menu">
                                    <li>
                                        <a href="registration.html">
                                            Регистрация
                                        </a>
                                    </li>
                                    <li>
                                        <a href="AgentNetwork.html">
                                            Агентские сети
                                        </a>
                                    </li>
                                    <li>
                                        <a href="news.html">
                                            Новости
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            Личный кабинет
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu_item">
                                Платформа
                                <ul class="sub_menu">
                                    <li>
                                        <a href="registration.html">
                                            Вход
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            Регистрация
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#question">
                                            FAQ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu_item">
                                Новости


                                <div class="sub_news">
                                    <a href="news.html">
                                        <p>
                                            Повышение КВ по полюсам
                                            "Альфа Страхование"
                                        </p>
                                    </a>
                                    <span>15 Мар 2019</span>
                                </div>
                                <div class="sub_news">
                                    <a href="news.html">
                                        <p>
                                            Повышение КВ по полюсам
                                            "Альфа Страхование"
                                        </p>
                                    </a>

                                    <span>15 Мар 2019</span>
                                </div>
                            </li>
                            <li class="menu_item">
                                Контакты
                                <ul class="sub_menu">
                                    <li>EPS24</li>
                                    <li>Шлюзная набережная</li>
                                    <li>г.Москва</li>
                                </ul>
                                <ul class="sub_menu">
                                    <li><a href="tel:+7(495)761-33-22">+7(495)761-33-22</a></li>
                                    <li><a href="mailto:info@eps24.ru">info@eps24.ru</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="footer_mobail_menu">
                            <div class="btn">
                                <a rel='b1' class="btn b1" href="javascript:void(0)">Меню</a>
                                <a rel='b2' class="btn b2" href="javascript:void(0)">Платформа</a>
                                <a rel='b3' class="btn b3" href="javascript:void(0)">Новости</a>
                                <a rel='b4' class="btn b4" href="javascript:void(0)">Контакты</a>
                            </div>
                            <div class="dropdown-menu b1">
                                <ul class="sub_menu">
                                    <li>
                                        <a href="index.html">
                                            О компании
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Преимущества
                                        </a>
                                    </li>
                                    <li>
                                        <a href="AgentNetwork.html">
                                            Агентские сети
                                        </a>
                                    </li>
                                    <li>
                                        <a href="news.html">
                                            Новости
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            Личный кабинет
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-menu b2">
                                <ul class="sub_menu">
                                    <li>
                                        <a href="registration.html">
                                            Вход
                                        </a>
                                    </li>
                                    <li>
                                        <a href="registration.html">
                                            Регистрация
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            FAQ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-menu b3">
                                <div class="sub_news">
                                    <p>
                                        Повышение КВ по полюсам
                                        "Альфа Страхование"
                                    </p>
                                    <span>15 Мар 2019</span>
                                </div>
                                <div class="sub_news">
                                    <p>
                                        Повышение КВ по полюсам
                                        "Альфа Страхование"
                                    </p>
                                    <span>15 Мар 2019</span>
                                </div>
                            </div>
                            <div class="dropdown-menu b4">
                                <ul class="sub_menu">
                                    <li>EPS24 Шлюзная набережная г.Москва</li>
                                    <li><a href="tel:+7(495)761-33-22">+7(495)761-33-22</a></li>
                                    <li><a href="mailto:info@eps24.ru">info@eps24.ru</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg_black">
                <div class="container">
                    <div class="social">
                        <a href="javascript:void(0)" class="social_vk">
                            <i class="icon-002-vk"></i>
                        </a>
                        <a href="javascript:void(0)" class="social_F">
                            <i class="icon-001-logo"></i>
                        </a>
                        <a href="javascript:void(0)" class="social_instagram">
                            <i class="icon-instagram"></i>
                        </a>
                    </div>
                    <p>Все права защищены EPS24-Единая Платформа Страхования 2018 - 2019 г. </p>

                </div>
                <div class="container">
                    <a href="https://plemyastudio.ru/">Сайт разработан PlemyArt</a>
                </div>
            </div>
        </footer>



    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.radio.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.responsiveTabs.min.js"></script>
    <script src="../js/script.min.js"></script>

</body>

</html>