<footer id="footer">
    <div class="bg_gray">
        <div class="container">
            <div class="footer_flex">
                <div class="footer_logo">
                    <a href="index.html">
                        <img src="../img/logo.png" alt="Logo">
                    </a>
                    <p>
                        Онлайн платформа для страховых агентов с прямым подключением к страховым компаниям России
                    </p>
                </div>
                <ul class="footer-menu">
                    <li class="menu_item">Меню
                        <ul class="sub_menu">
                            <li>
                                <a href="registration.html">
                                    Регистрация
                                </a>
                            </li>
                            <li>
                                <a href="AgentNetwork.html">
                                    Агентские сети
                                </a>
                            </li>
                            <li>
                                <a href="news.html">
                                    Новости
                                </a>
                            </li>
                            <li>
                                <a href="registration.html">
                                    Личный кабинет
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu_item">
                        Платформа
                        <ul class="sub_menu">
                            <li>
                                <a href="registration.html">
                                    Вход
                                </a>
                            </li>
                            <li>
                                <a href="registration.html">
                                    Регистрация
                                </a>
                            </li>
                            <li>
                                <a href="#question">
                                    FAQ
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu_item">
                        Новости


                        <div class="sub_news">
                            <a href="news.html"><p>
                                Повышение КВ по полюсам
                                "Альфа Страхование"
                            </p></a>
                            <span>15 Мар 2019</span>
                        </div>
                        <div class="sub_news">
                            <a href="news.html"><p>
                                Повышение КВ по полюсам
                                "Альфа Страхование"
                            </p></a>

                            <span>15 Мар 2019</span>
                        </div>
                    </li>
                    <li class="menu_item">
                        Контакты
                        <ul class="sub_menu">
                            <li>EPS24</li>
                            <li>Шлюзная набережная</li>
                            <li>г.Москва</li>
                        </ul>
                        <ul class="sub_menu">
                            <li><a href="tel:+7(495)761-33-22">+7(495)761-33-22</a></li>
                            <li><a href="mailto:info@eps24.ru">info@eps24.ru</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="footer_mobail_menu">
                    <div class="btn">
                        <a rel='b1' class="btn b1"  href="javascript:void(0)">Меню</a>
                        <a rel='b2' class="btn b2"  href="javascript:void(0)">Платформа</a>
                        <a rel='b3' class="btn b3"  href="javascript:void(0)">Новости</a>
                        <a rel='b4' class="btn b4"  href="javascript:void(0)">Контакты</a>
                    </div>
                    <div class="dropdown-menu b1">
                        <ul class="sub_menu">
                            <li>
                                <a href="index.html">
                                    О компании
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Преимущества
                                </a>
                            </li>
                            <li>
                                <a href="AgentNetwork.html">
                                    Агентские сети
                                </a>
                            </li>
                            <li>
                                <a href="news.html">
                                    Новости
                                </a>
                            </li>
                            <li>
                                <a href="registration.html">
                                    Личный кабинет
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown-menu b2">
                        <ul class="sub_menu">
                            <li>
                                <a href="registration.html">
                                    Вход
                                </a>
                            </li>
                            <li>
                                <a href="registration.html">
                                    Регистрация
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    FAQ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown-menu b3">
                        <div class="sub_news">
                            <p>
                                Повышение КВ по полюсам
                                "Альфа Страхование"
                            </p>
                            <span>15 Мар 2019</span>
                        </div>
                        <div class="sub_news">
                            <p>
                                Повышение КВ по полюсам
                                "Альфа Страхование"
                            </p>
                            <span>15 Мар 2019</span>
                        </div>
                    </div>
                    <div class="dropdown-menu b4">
                        <ul class="sub_menu">
                            <li>EPS24 Шлюзная набережная г.Москва</li>
                            <li><a href="tel:+7(495)761-33-22">+7(495)761-33-22</a></li>
                            <li><a href="mailto:info@eps24.ru">info@eps24.ru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_black">
        <div class="container">
            <div class="social">
                <a href="javascript:void(0)" class="social_vk">
                    <i class="icon-002-vk"></i>
                </a>
                <a href="javascript:void(0)" class="social_F">
                    <i class="icon-001-logo"></i>
                </a>
                <a href="javascript:void(0)" class="social_instagram">
                    <i class="icon-instagram"></i>
                </a>
            </div>
            <p>Все права защищены EPS24-Единая Платформа Страхования 2018 - 2019 г. </p>

        </div>
        <div class="container">
            <a href="https://plemyastudio.ru/">Сайт разработан PlemyArt</a>
        </div>
    </div>
</footer>


