<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__menu">
                <button class="menu__btn">
                    <span class="hamburger">
                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>
                    </span>
                </button>
                <nav class="menu__list">
                  <div class="menu__item">
                        <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-9 current_page_item menu-item-16"><a href="http://www.wp-insurance.plemya-demo.ru/" aria-current="page">Главная</a></li>
                        <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17"><a href="#about">О компании</a></li>
                        <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18"><a href="#about_us">Преимущества</a></li>
                        <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://www.wp-insurance.plemya-demo.ru/%d0%b0%d0%b3%d0%b5%d0%bd%d1%82%d1%81%d0%ba%d0%b8%d0%b5-%d1%81%d0%b5%d1%82%d0%b8/">Агентские сети</a></li>
                        <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a href="#footer">Контакты</a></li>
                </div>
                </nav>
            </div>
            <div class="header__logo">
                <a href="index.html">
                    <img src="../img/logo.png" alt="Logo">
                </a>
            </div>
            <div class="header__btn">
                <a href="javascript:void(0)" class="mobile open-signIn">
                    <i class="icon-user"></i>
                </a>
                <a href="javascript:void(0)" class="desktop open-signIn">
                    Вход / Регистрация
                </a>
            </div>
        </div>
    </div>
</header>