
<section class="polis">
    <div class="container">
        <div class="top_nav">
            <span class="close_polis "></span>
            <h2>Оформить новый полис:</h2>
            <ul class="nav_menu">
                <li><a href="AgentNetwork.html">Агентская сеть</a></li>
                <li>Мое КВ</li>
                <li class="user_info">Мой куратор</li>
            </ul>
            <div class="sub-text">
                <ul class="content">
                    <li>Иванов Иван</li>
                    <li><a href="tel:+7(495)761-33-22">+7(495)761-33-22</a></li>
                    <li><a href="mailto:info@eps24.ru">info@eps24.ru</a></li>
                </ul>

            </div>
        </div>
        <div class="polis_slider">
            <div>
                <div class="polis__item"style="background-image:url(../img/slider_polis/polis_1.png)">
                    <a href="OSAGO.html">
                        <div class="polis_block">
                            <p>Осаго</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="polis__item"style="background-image:url(../img/slider_polis/polis_2.png)">
                    <a href="mortgage.html">
                        <div class="polis_block">
                            <p>Ипотечное страхование</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="polis__item"style="background-image:url(../img/slider_polis/polis_3.png)">
                    <a href="travels.html">
                        <div class="polis_block">
                            <p>Страхование путешествий</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="polis__item"style="background-image:url(../img/slider_polis/polis_4.png)">
                    <a href="lifeInsurance.html">
                        <div class="polis_block">
                            <p>Жизнь и здоровье</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="polis__item"style="background-image:url(../img/slider_polis/polis_5.png)">
                    <a href="building.html">
                        <div class="polis_block">
                            <p>Недвижимость </p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="polis__item"style="background-image:url(../img/slider_polis/polis_6.png)">
                    <a href="DMS.html">
                        <div class="polis_block">
                            <p>ДМС</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="polis__item"style="background-image:url(../img/slider_polis/polis_7.png)">
                    <a href="Kasko.html">
                        <div class="polis_block">
                            <p>каско</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <p>
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
            стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
            создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный
            дизайн.
        </p>
    </div>
</section>
