<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <div class="form_wrap">
        <div class="form_select">
            <label>Выбор страны</label>
            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                    <option>Выберете страну</option>
                    <option>Россия</option>
                </select>
        </div>
        <div class="form_input">
            <label>Выбор даты</label>
            <input type="text" class="datepicker hasDatepicker" placeholder="01.12.1986" id="dp1566308853337">
            <i class="icon-calendar-2"></i>
        </div>


        <div class="form_input">
            <label>Телефон</label>
            <input id="phone" type="text" placeholder="+7 900 --- -- --">
        </div>


        <div class="form_input">
            <label>Телефон</label>
            <input type="text" placeholder="">
        </div>

        <div class="form-buttons">
            <a class="next-step" href="jabascript:void(0)">Офрмить</a>
            <a class="prev-step" href="jabascript:void(0)">Назад к параметрам</a>
        </div>

        <div class="form-checkbox">
            <label class="wrap">
                <input type="checkbox">
                <span class="checkmark">Квартира здается в аренду</span>
            </label>
        </div>

        <div class="form_radio">
            <input type="radio" name="tabs" checked>
            <label>Гос. номер отсутствует</label>
        </div>
    </div>
</form>
</body>
</html>